@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;
  }

  body {
    @apply bg-gray-100 text-gray-900;
  }

  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}
